.fund_list {
  color: #666666;
}
.fund_one {
  padding: 78px 0;
}
.fund_one .fund_left {
  padding-left: 50px;
}
.fund_one .fund_img_left {
  text-align: right;
  padding-right: 50px;
}
.fund_one .fund_title {
  font-size: 36px;
  color: #333;
  padding: 10px 0 41px 0;
}
.fund_one .fund_text {
  font-size: 14px;
  line-height: 30px;
}
.fund_one .fund_img_right {
  padding-left: 50px;
}
.fund_one img {
  width: 100%;
  max-width: 400px;
}
.fund_one:nth-child(2n) {
  background-color: #F2EEF5;
}
@media (max-width: 767px) {
  .fund_one .fund_title {
    text-align: center;
  }
  .fund_one .fund_img_right,
  .fund_one .fund_img_left {
    text-align: center;
  }
  .fund_one .fund_left {
    padding: 0 10px;
  }
  .fund_one .fund_img_right {
    padding: 0 10px;
  }
  .fund_one {
    padding: 39px 0;
  }
  .fund_one .fund_title {
    font-size: 24px;
    color: #333;
    padding: 10px 0 21px 0;
  }
  .fund_one .fund_text {
    font-size: 14px;
    line-height: 26px;
  }
}
