/* 
首页 第三部分
*/
.container {
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .section_title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section3 .economies .col-xs-4 {
    padding: 0 5px;
  }
  .section3 .economies .econom_one:nth-child(1) img {
    width: 52.5px;
  }
  .section3 .economies .econom_one:nth-child(2) img {
    width: 44.5px;
  }
  .section3 .economies .econom_one:nth-child(3) img {
    width: 69.5px;
  }
  .section3 .economies .econom_tit {
    font-size: 12px;
    margin: 10px 0 20px 0;
  }
  .section3 .economies .econom_h1 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .section3 .economies .econom_detail {
    font-size: 11px;
  }
  .section3 .btn_style {
    font-size: 16px;
  }
  .cupid_scene .scene_list {
    font-size: 13px;
  }
  .adviser .adviser_list .adviser_list_one {
    padding: 20px 0;
  }
  .adviser .adviser_list .adviser_list_one .adviser_img img {
    width: 60px;
  }
  .adviser .adviser_list .adviser_list_one .adviser_detail .adviser_text {
    font-size: 12px;
  }
  .adviser .adviser_list .adviser_list_one .adviser_detail .adviser_name {
    font-size: 24px;
  }
  .history {
    height: auto;
    background-size: cover;
  }
  .history .history_list {
    position: relative;
  }
  .history .line {
    position: absolute;
    left: 50%;
    height: 100%;
    background-color: #F84C94;
    width: 2px;
    top: 0;
    margin-left: -1px;
  }
  .history .history_one {
    height: 180px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .history .history_one .margin_left {
    margin-left: 8px;
  }
  .history .history_one .margin_right {
    margin-right: 8px;
  }
  .history .history_one .history_text .text1 {
    font-size: 15px;
  }
  .history .history_one .history_text .text2 {
    font-size: 13px;
  }
  .history .history_one .history_text .text3 {
    font-size: 12px;
  }
  .history .mobie_history {
    margin: 0 auto;
  }
  .history .mobie_history .position_right {
    position: relative;
    right: -28px;
    justify-content: flex-end;
  }
  .history .mobie_history .position_left {
    position: relative;
    left: -28px;
  }
  footer .footer_bootom {
    height: 38px;
    line-height: 38px;
    font-size: 12px;
  }
}
.scene_one:nth-child(1) img {
  width: 31.5px;
}
.scene_one:nth-child(2) img {
  width: 29.5px;
}
.scene_one:nth-child(3) img {
  width: 25px;
}
.scene_one:nth-child(4) img {
  width: 29.5px;
}
.scene_one:nth-child(5) img {
  width: 26.5px;
}
.scene_one:nth-child(6) img {
  width: 29.5px;
}
@media (max-width: 974px) {
  .adviser .adviser_list .adviser_list_one {
    min-height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .adviser .adviser_list .adviser_list_one .adviser_detail {
    text-align: left;
  }
}
/* 
应用场景
*/
@media (max-width: 768px) {
  .application .scene_consensus {
    padding: 39px 0 50px 0;
  }
  .application .scene_consensus .scene_consensus_title {
    font-size: 22px;
    color: #f84c94;
    margin-bottom: 22px;
  }
  .application .scene_consensus .scene_consensus_text {
    color: #666666;
    font-size: 14px;
    line-height: 30px;
  }
  .application .scene_experience {
    padding: 39px 0 23px 0;
  }
  .application .scene_experience .scene_experience_title {
    font-size: 22px;
    text-align: center;
    color: #f84c94;
    margin-bottom: 21px;
  }
  .application .scene_experience .scene_experience_text {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .application .entity_industry {
    color: #666666;
  }
  .application .entity_industry .entity_industry_title {
    padding: 46px 0 28.5px 0;
    font-size: 22px;
  }
  .application .entity_industry .entity_industry_text {
    margin-bottom: 31px;
  }
  .application .entity_industry .entity_industry_list .scene_one {
    display: block;
    text-align: center;
  }
  .application .entity_industry .entity_industry_list .scene_one .scene_icon {
    margin: 0;
    margin-bottom: 16px;
    min-height: 36px;
  }
}
